<Doctype HTML>
    <html lang="en">
        <head>
            <meta charset="UTF-8"/>
            <meta name="" content=""/>
            <script src=""></script>
            <link rel="stylesheet" href=""/>
            <title>My Albums</title>
        </head>
        <body>
            <h1>Artists</h1>
            <ul>
                {%for artist in artists%}
                    <li><a href = "/artists/{{artist.id}}">{{artist.name}}</a></li>
                {% endfor %}
            </ul>
        </body>
    </html>